/* GRID CSS*/
.experiencesPageGrid{
    overflow: auto;
    height: 100%;
}

.ui.grid{
    margin-left: 0rem;
    margin-right: 0rem;
}


/**/

/*Main page content*/
.experiencesPageMainRow{
    height: 90%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    top: 10px;
}

.experienceCardImage{
    width: 100% ;
    object-fit: scale-down;
    height: 100px
}

.ui.card.experienceCard{
    box-shadow: 1px 3px black !important;
}


.row{
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}



.ui.cards{
    margin-top: 0rem;
}

/**/