/* GRID CSS*/
.landingPageGrid{
    overflow: auto;
    height: 100%;

}

.ui.grid{
    margin-left: 0rem;
    margin-right: 0rem;
}


/**/

/*Main page content*/
.landingPageMainRow{
    height: 90%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.row{
}


/**/

.ui.header.nameHeader{
    font-size: 4rem;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1;
    text-align: center;
    text-shadow: 2px 4px black;
}

.ui.header.titleHeader{
    font-size: 2rem;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1;
    text-align: center;
    text-shadow: 1px 3px black;
}

.ui.button.socialButton{
    opacity: .7;
    transition: all .25s ease-in-out;
    margin-top: 15px;
    margin-right: 20px;
    box-shadow: 3px 4px black;
}

.ui.button.socialButton:hover{
    opacity: 1;

}



.ui.container.imageContainer{
    border-radius: 50%;

}

.profile{
    width: 200px !important;
    height: auto !important;
    box-shadow: 3px 4px black;

}